<h1 id="page-title">Say Hello!</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_for @contact do |f| %>
        <%= f.text_field :name, placeholder: "Name", required: true %>
  
        <%= f.text_field :email, placeholder: "Email", required: true %>
 
        <%= f.text_area :message, placeholder: "Message", as: :text %>
        <div class="hidden">
          <%= f.label :nickname %><br>
          <%= f.text_field :nickname, hint: 'leave this field blank' %>
        </div>
        <div class="text-center">
          <%= f.submit 'Send Message', class: 'button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
