<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
  <title>Jamaleh Gyulay - Rails WebDev</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <header id="navigation">
    <div class="container text-center">
    <%= link_to "Jamaleh Gyulay", welcome_about_path, class: "name" %>
      <nav>
        <h2 class="tagline">A Rails developer ready to create, learn, and deploy <br />
          remotely or on-site
    </h2>
        <!-- <%= link_to "Blog", posts_path %>
        <%= link_to "Projects", projects_path %> -->
        <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% end %>
      </nav>
    </div>
  </header>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>
  <div class="home">
    <%= link_to root_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-home"></span>
    <% end %>
  </div>
  <footer>
    <p class="contact"><%= link_to "Contact", new_contact_path %> me or find me on:</p>

    <nav>
      <a href="https://twitter.com/jamalehg" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://github.com/jamaleh1111" target="_blank"><i class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/jamalehgyulay" target="_blank"><i class="fa fa-linkedin"></i></a>
    </nav>
  </footer>
</body>
</html>
